@import url('https://use.typekit.net/avc8jcz.css');

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'SF Pro Text Regular';
    src: url('data/SF-Pro-Text-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pixel Icons';
    src: url('data/Pixel Icons Compilation.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.element1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 36px; /* Adjust this for spacing between columns */
    margin-left: 36px;
    margin-right: 36px;
}

.element1 p {
    margin-left: 0px;
    margin-bottom: 10px;
}

ol, ol li {
    font-family: "SF Pro Text Regular", sans-serif;
    font-size: 16px; /* Match paragraph font size */
    color: black;
    line-height: 1.6;
    padding-left: 20px; /* Add padding for list items */
}

ol li {
    margin-bottom: 10px; /* Space between list items */
}


/* Title */
h1 {
    font-family: "pf-pixelscript", sans-serif;
    font-weight: 400;;
    font-style: normal;
    font-size: 96px;
    color: black;
    margin-top: 12px; 
    margin-left: 36px;
}

/* Sub-Titles */
h2 {
    font-family: "pf-pixelscript", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: black;
    margin-left: 36px;
}

/* Paragraphs */
p {
    font-family: "SF Pro Text Regular", sans-serif;
    font-size: "21px";
    color: black;
    line-height: 25px;
    margin-left: 36px;
}

/* Captions */
.caption {
    font-size: 12px;
    color: #383838;
    font-family: "SF Pro Text Regular", sans-serif;
    margin-top: 5px;
}

/* Code Block */
pre, code {
    font-family: "SF Pro Text Regular", sans-serif;
    font-size: "21px";
    color: black;
    line-height: 32px;
    padding: 10px; /* Add padding for better readability */
    background-color: #e1e1e1; /* Optional: Add background color */     

}

ol {
    font-family: "SF Pro Text Regular", sans-serif;
    font-size: "21px"; /* Match paragraph font size */
    color: black;
    line-height: 18px;
    margin-left: 36px;
    padding-left: 20px; /* Add padding for list items */
}

ol li {
    margin-bottom: 10px; /* Space between list items */
}